*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Inicio */
.image{
    padding: 20px;
    width: 40vw;
    height: 120vh;
    object-fit: cover;
    padding: auto;
}

.inicio{
    padding-left: 5px;
    padding-right: 5px;
    color: black;
    font-family: 'Poppins', sans-serif;
    
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.body{
    background: linear-gradient(-45deg, #3b7784, #250720, #210721, #2b0d50);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 100px;
}

.image3 {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-right: 20px;
}

.image-logos{
    width: 100px;
    height: 50px;

}

.inicio_h2{
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px #9939bf;
    padding-bottom: 100px;
}

.inicio_h1{
    padding-bottom: px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    margin-top: 0%;
    margin-left: auto;
    text-shadow: 2px 2px 4px #9939bf;

}

.inicio_p{
    text-align: justify;
    font-size: 30px;
    color: white;
    margin-top: 0%;
    margin-left: auto;
    padding-bottom: 50px;
    padding-right: 20px;
}

/* Botones de navegación entre páginas */
.container_nav{
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5%;
}

.button{
    text-decoration: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

@keyframes buttonAnimation {
  0%   {background-color: transparent;}
  0%   {padding: 20px 30px;}
  100% {background-color: white;}
  100%   {padding: 22px 32px;}
}

.button:hover {
    background-color: white;
    color: #431157;
    animation: buttonAnimation 0.4s ease-in-out;
    padding: 22px 32px;
}

.navegador {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%;
}

.navegador2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegador3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20%;
}

.navegador4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40%;
}

/* Habilidades*/
.container_habilidad {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 100px;
}



.image2 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-right: 20px;
}
.cartas_container {   
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.cartas {
    width: 200px;
    background-color: rgb(106, 68, 106);
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
}


.cartas img {
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-bottom: 5px solid #3c1f47;
}

.carta_dentro{
    font-size:15px;
    margin: 20px;
    color: rgb(22, 2, 20);
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.habilidad{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;  
}

.habilidad_h1{
    border-top: #e4dab6 10px solid;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #9939bf;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
    padding-top: 50px ;
}

/* Contacto*/
.container_contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 23px;
}

.form_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 50px;
}


.form_email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
}

input[type=text] {
    border: #135c79 2px solid;
    border-radius: 20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 10px;
    box-sizing: border-box;
}

input[type=text]:focus {
  border: 5px solid #3b8ea5;
}

.text{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 20px;

}

/* Portafolio */

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;  
}
.proyecto_h1{
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #9939bf;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 50px;
    padding-top: 50px ;
}

